@model Liberty.Data.GenrePublication


<div class="row genre" id="gedit_@Model.GenreId" data-modelid="@Model.GenreId">
    @Html.HiddenFor(e => e.GenreId)
    @Html.HiddenFor(e => e.PublicationId)
    <span class="col-sm-11">
        @Html.DisplayFor(e => e.GenreName)
        @Html.HiddenFor(e => e.Delete, new { id = "Genres_" + @Model.GenreId + "_Delete" })
    </span>
    <span class="col-sm-1 deletor">@Html.LinkToRemoveNestedForm("X", "gedit_" + Model.GenreId, "Genres_" + @Model.GenreId + "_Delete")</span>
</div>