@model Liberty.Data.Genre
@{
    ViewBag.Title = "Genre";
}

<div class="row genre" id="gedit_@Model.Id" data-modelid="@Model.Id">
    @Html.HiddenFor(e => e.Id)
    <span class="col-sm-11">
        @Html.DisplayFor(e => e.GenreName)
        @Html.HiddenFor(e => e.Delete, new { id = "Genres_" + @Model.Id + "_Delete" })
    </span>
    <span class="col-sm-1 deletor">@Html.LinkToRemoveNestedForm("X", "gedit_" + Model.Id, "Genres_" + @Model.Id + "_Delete")</span>
</div>
        



