@model Liberty.Data.Publication

@{
    ViewBag.Title = "Publication";
    AjaxOptions options = new AjaxOptions()
    {
        UpdateTargetId = "publicationList",
        InsertionMode = InsertionMode.Replace,
    };
}


<div class="row">
    <div class="col-sm-10">
        @using (Ajax.BeginForm("_ajaxSavePublication", options))
        {
            @Html.HiddenFor(e => e.BookId)
             @Html.AntiForgeryToken()
           <div class="row">
                <label class="col-lg-2">Title</label>
                <div class="col-lg-10">@Html.EditorFor(e => e.Title)</div>
            </div>
            <div id="authors" class="row">
                <label class="col-lg-2">Author</label>
                <div class="col-lg-10">
                    <div id="authorList">@Html.EditorFor(e => e.AuthorPublications)</div>
                    <div id="authorAdditions" class="author" ondrop="dropAuthor(event)" ondragover="allowDrop(event)" ondragleave="handleDragLeave(event)">
                        Drop Author Here
                    </div>
                    @Ajax.ActionLink("Show Authors", "_getAuthorSelector", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "elementSelector", OnSuccess = "presetDeletorVis('authorSelectors')" })
                </div>
            </div>
            <div class="row">
                <label class=" col-lg-2">ISBN</label>
                <div class="col-lg-10">
                    @Html.EditorFor(e => e.ISBN)
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Synopsis</label>
                <div class="col-lg-10">
                    @Html.EditorFor(e => e.Synopsis, "Synopsis")
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Copies Owned</label>
                <div class="col-lg-10">
                    @Html.EditorFor(e => e.Copies)
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        }
    </div>
    <div id="elementSelector" class="col-sm-2">

    </div> <!--author selector--> 
</div> <!-- outer row -->