@model LibertyFinancial.Web.MVC5.Models.BorrowingModel

<div class="alert-success">
    @ViewBag.Message
</div>

@using (Ajax.BeginForm("ConfirmBorrow", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "publicationList" }))
{       
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary()
            <div class="row">
                <label class="col-3-sm">Borrower</label>
                @Html.DisplayFor(e => e.Member.LastName) , @Html.DisplayFor(e => e.Member.FirstName)
            </div>
            <div class="row">
                <label class="col-3-sm">Book</label>
                @Html.DisplayFor(e => e.Publication.Title)
            </div>
        <div class="row">
            <label class="col-3-sm">Author</label>
            <span class="col-3-sm">
                @Html.DisplayFor(e => e.Publication.AuthorPublications)
            </span>
        </div>
            <div class="row">
                <label class="col-3-sm">Due Date</label>
                @Html.TextBoxFor(e => e.DueDate, new  { @class = "datepicker", id="dueDateSelector"})
                @Html.ValidationMessageFor(e => e.DueDate)
            </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Borrow</button>
    </div>
    @Html.HiddenFor(e => e.Member.MemberId)
    @Html.HiddenFor(e => e.Publication.BookId)
}

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('#dueDateSelector').datepicker({ format: 'dd/mm/yyyy', 'startDate': today() }); //Initialise any date pickers
    });
</script>
