@model LibertyFinancial.Web.MVC5.Models.BorrowingModel



<div class="row">
    @using (Ajax.BeginForm("ConfirmBorrow", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "publicationList" }, new { @class = "col-1-lg" }))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            <label class="col-3-sm">Borrower</label>
            @Html.DisplayFor(e => e.Member.LastName) , @Html.DisplayFor(e => e.Member.FirstName)
        </div>
        <div class="form-group">
            <label class="col-3-sm">Book</label>
            @Html.DisplayFor(e => e.Publication.Title)
        </div>
        <div class="form-group">
            <label class="col-3-sm">Author</label>
            @Html.DisplayFor(e => e.Publication.AuthorNames)
        </div>
    <div class="form-group input-group-sm data">
            <label>Due Date</label>
            @Html.TextBoxFor(e => e.DueDate, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(e => e.DueDate)
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Borrow</button>
        </div>
        @Html.HiddenFor(e => e.Member.MemberId)
        @Html.HiddenFor(e => e.Member.FirstName)
        @Html.HiddenFor(e => e.Member.LastName)
        @Html.HiddenFor(e => e.Member.ContactNumber)
        @Html.HiddenFor(e => e.Publication.BookId)
        @Html.HiddenFor(e => e.Publication.Authors)
    }
</div>

<script type="text/javascript">
    $(function () {
        var selector = '#@Html.IdFor(e => e.DueDate)';
        $(selector).datepicker({ format: 'dd/mm/yyyy' });
        //check if no date set
        if ($(selector).val() == '1/01/0001 12:00:00 AM') {
            $(selector).datepicker('setValue', today());
        }
    });
</script>


