@model Liberty.Data.MemberCurrentBookBorrowingsWithName

<tr>
    <td>
        @Html.DisplayFor(e => e.FirstName)
    </td>
    <td>
        @Html.DisplayFor(e => e.LastName)
    </td>
    <td>
        @Html.DisplayFor(e => e.Title)
    </td>
    <td>
        @Html.DisplayFor(e => e.AuthorFullName)
    </td>
    <td>
        @Html.DisplayFor(e => e.DueDate)
    </td>
</tr>
