<!DOCTYPE html>
<html>
<head>
    <title>Liberty Financial Library Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <header class="row">
            <h2>Liberty Financial Library!!</h2>
        </header>
        <div class="row">
            <div class="col-sm-2">
                
    <ul class="nav nav-pills nav-stacked">
        <li ><a href="/Home/Index"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
        <li><a href="/Authors/Index"><span class="glyphicon glyphicon-chevron-right"></span>Authors</a></li>
        <li><a href="/Members/Index"><span class="glyphicon glyphicon-chevron-right"></span>Members</a></li>
        <li><a href="/Publications/Index"><span class="glyphicon glyphicon-chevron-right"></span>Publications</a></li>
        <li> <a href="/Reports/Index"><span class="glyphicon glyphicon-chevron-right"></span>Reports</a></li>
    </ul>

            </div>
            <div class="col-sm-10 contentPanel">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/liberty")
    @RenderSection("PageScripts", required: false)
    


</body>
</html>