@model Liberty.Data.Publication

@{
    ViewBag.Title = "Publication";
}


<div class="row">
    <div class="row">
        <label class="col-lg-2">Title</label>
        @Html.TextBoxFor(e => e.Title)
    </div>
    <div class="row">
        <label class="col-lg-2">Author</label>
        @Html.EditorFor(e => e.Authors)
        <button id="showAuthors" class="btn" onclick="loadModal()">Find Author</button>
    </div>
    <div class="row">
        <label class="col-lg-2">ISBN</label>
        @Html.EditorFor(e => e.ISBN)
    </div>
    <div class="row">
        <label class="col-lg-2">Genres</label>
        @Html.EditorFor(e => e.Genres)
    </div>
    <div class="row">
        <label class="col-lg-2">Synopsis</label>
        @Html.EditorFor(e => e.Synopsis)
    </div>
</div>

<div id='authorModal' class='modal fade' data-url='@Url.Action("_getAuthorSelector")'>
    <div class='modal-dialog'>
        <div class="modal-content"></div>
    </div>
</div>



<script type="text/javascript">
        function loadModal ()
        {
            var url = $("#authorModal").data('url');
            $('#authorModal').modal({ show: true, remote: url });
        }
</script>




