@model Liberty.Data.Publication

@{
    ViewBag.Title = "Publication";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Person Details</h4>
            </div>
            <div id='modal-body'></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <label class="col-lg-2">Title</label>
        @Html.TextBoxFor(e => e.Title)
    </div>
    <div class="row">
        <label class="col-lg-2">Author</label>
        @Html.EditorFor(e => e.Authors)
        <button id="showAuthors" class="btn" onclick="loadModal()">Find Author</button>
    </div>
    <div class="row">
        <label class="col-lg-2">ISBN</label>
        @Html.EditorFor(e => e.ISBN)
    </div>
    <div class="row">
        <label class="col-lg-2">Genres</label>
        @Html.EditorFor(e => e.Genres)
    </div>
    <div class="row">
        <label class="col-lg-2">Synopsis</label>
        @Html.EditorFor(e => e.Synopsis)
    </div>
</div>

<div id='authorModal' class='modal hide fade in' data-url='@Url.Action("_getAuthorSelector")'>
    <div id='modal-dialog'>
    </div>
</div>



<script type="text/javascript">
        function loadModal ()
        {
            var url = $("#authorModal").data('url');

            $.get(url, function (data) {
                $("#modal-dialog").html(data);
                $("#authorModal").modal('show');
            });
        }
</script>




