@model IEnumerable<Liberty.Data.Publication>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped"  >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Authors
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th>
            Genres
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{Html.RenderPartial("DisplayTemplates/Authors", item.Authors);}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        <td>
            @{Html.RenderPartial("DisplayTemplates/Genres", item.Genres);}
        </td>
    </tr>
}

</table>
